<!DOCTYPE html>
<html lang="en" class="h-full bg-white">
  <head>
    <title>DBO Time Breaker | Register</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="h-full relative">
    <% if notice %>
     <p class="bg-green-500 text-white text-center p-4 text-lg border-solid border-white absolute top-0 left-0 w-full"><%= notice.html_safe %></p>
    <% end %>
    <% if alert %>
     <p class="bg-red-500 text-white text-center p-4 text-lg border-solid border-white absolute top-0 left-0 w-full"><%= alert.html_safe %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
